{% extends 'base/index.html'%}

{% block body %}

<!-- Contact Start -->
{% if user.is_superuser%}
        <div class="contact">
        {% if submitted %}
        <h5>Your Venue was Submitted Successfully!!!</h5>
        {%else%}
            <div class="container">
                <div class="section-header text-center">
                    <p>Only For Admin</p>
                    <h2>Please add the category here</h2>
                </div>
                
                    <div class="col-md-7">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form name="sentMessage" id="contactForm" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{cat_form.media}}
                                {{cat_form.as_p}}
                                <div>
                                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Add Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {%endif%}
        <!-- Contact End -->
{% else%}
        <div class="contact">
        
                <div class="container">
                    <div class="col-md-7">
                        <div class="contact-form">
                            <h2>You are not authorized Here!</h2>
                        </div>
                    </div>
                    
                </div>
        </div>

    {%endif%}
    

{% endblock body%}