{% block sidebar %}
<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h5 class="widget-title">Recent Posts</h5>
						
                        {% for post in post_sidebar%}
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="{{post.img.url}}" alt=""></a>
							</div>
							<div class="content">
								<span>{{post.date}}</span>
								<h4><a href="#">{{post.title}}</a></h4>
							</div>
						</div> <!-- /.last-post -->
                        {% endfor%}
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Categories</h5>

						<div class="row categories">
							<div class="col-md-6">
								<ul>
									<li><a href="#">Standard</a></li>
									<li><a href="#">Audio</a></li>
									<li><a href="#">Video</a></li>
									<li><a href="#">Branding</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#">iOS Design</a></li>
									<li><a href="#">Business</a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.sidebar-widget -->
					
				</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->
{% endblock sidebar %}