{% extends 'base/index.html'%}

{% block body%}



<div class="container center">

    <h2>Please Fill The login details</h2>

       <form action="" method=POST>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        
        

    <input type="submit" class="btn btn-custom" value="Login">

    </form>

 
</div>

{% endblock%}